body {
  background-color: #e0e0e0;
  background-image: linear-gradient(
      90deg,
      transparent 0%,
      #e0e0e0 25%,
      #e4e0e0 75%,
      transparent 100%
    ),
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAIklEQVQoU2N89+7dfwYsQEhIiBEkzDgkFGDzAbIY2Cv4AACvrBgJjYNGfwAAAABJRU5ErkJggg==);
  color: #283739;
  font-family: "Noto Sans", sans-serif;
  padding: 20px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 34px;
  text-align: center;
}

h2 {
  font-size: 28px;
  margin: 0 0 12px;
}

footer {
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  margin: 10px;
  text-align: center;
}

select {
  border-radius: 5px;
  display: block;
  font-size: 18px;
  padding: 10px;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 10px 10px 5px #bac2c5;
  margin: 20px auto;
  max-width: 525px;
  padding: 30px;
 
}

.city {
  border-bottom: 1px dashed #283739;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 25px 0;
}

.city:last-child {
  border: none;
}

.date-row1,
.date-row2,
.date-row3,
.date-row4 {
  opacity: 0.8;
  color: #a2c11c;
}

.gap{
  margin-top: 10px;
}

.time-row1,
.time-row2,
.time-row3,
.time-row4 {
  color: #2c5d63;
  font-size: 35px;
  font-weight: bold;
}

small {
  color: #a2c11c;
  font-size: 22px;
  line-height: 46px;
  vertical-align: middle;
}
