body {
  background-color: #cacfd3;
  font-family: sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  text-align: center;
}

h2 {
  font-size: 28px;
  margin: 0 0 12px;
}

footer {
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  text-align: center;
}

select {
  border-radius: 5px;
  display: block;
  font-size: 18px;
  padding: 10px;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 10px 10px 5px #bac2c5;
  margin: 42px auto;
  max-width: 600px;
  padding: 40px;
}

.city {
  border-bottom: 1px dashed rgba(128, 128, 128, 0.2);
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 25px 0;
}

.city:last-child {
  border: none;
}

.date-row1,
.date-row2,
.date-row3,
.date-row4 {
  opacity: 0.7;
}

.time-row1,
.time-row2,
.time-row3,
.time-row4 {
  font-size: 35px;
  font-weight: bold;
}

small {
  font-size: 22px;
  line-height: 46px;
  vertical-align: middle;
}
